
.details-section {
    /* margin-bottom: 50%; */
     background-color: darksalmon;
    box-shadow: 5px 10px 15px 5px;

}
.course-details-container {
   
    background-color: lightgrey;
    box-shadow: 5px 20px 30px 5px;

}
