.cards {
    background-color: lightgrey;
    box-shadow: 5px 20px 30px 5px;

}

@media only screen and (max-width: 600px) {
    
    .course-cards {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .course-cards img {
        min-width: 100%;
        margin-bottom: 20px;
    }
  }