.header{
    padding: 20px;
    box-shadow: 2px 2px 5px grey;
    background-color: rgba(245, 222, 179,0.4);
}
.title {
    color: darksalmon;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
}
.title:hover {
    color: blue;
}
.logo {
    height: 60px;
    margin-right: 10px;
}
.toggle {
    /* margin-top: 15px; */
    margin-right: 15px;
}
.theme {
    margin-top: 20px;
    margin-right: 15px;
    font-weight: bolder;
}
@media only screen and (max-width: 600px) {
    .theme-container {
       margin-bottom: 20px;
    }
  }