
.feedback-container {
    background-color: lightpink;
    border-radius: 20px;
    box-shadow: 10px 5px;
}
.feedback-details {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .feedback-container {
        display: none;
        
    }
}
